html {
    height: 100%;
    background-image: url('../img/homepageBackground.png');
}

.buttonDiv {
	border-radius: 5px;
	box-shadow: 0 3px 3px black;
	padding: .8em 1.2em;
	border: none;
	position: relative;
}

.buttonDiv:hover {
	background-color: #E3DEE0;
	cursor: pointer;
}

.buttonDiv:active {
	background-color: #FFF; 
	box-shadow: none;
    top: 3px;
}

.logo {
	float: left;
}

.centerCard {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
