.buttonDiv {
	border-radius: 5px;
	box-shadow: 0 3px 3px black;
	padding: .8em 1.2em;
	border: none;
	position: relative;
}

.buttonDiv:hover {
	background-color: #E3DEE0;
	cursor: pointer;
}

.buttonDiv:active {
	background-color: #FFF; 
	box-shadow: none;
    top: 3px;
}

.button {
    background-color: #4F4F8C;
    color: aliceblue;
    padding: 10px 15px;
	border-radius: 4px;
	border: none;
	transition: all 0.35;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

.topnav {
	height: 7.5%;
	background-color: rgba(255, 255, 255, 0);
}

.topnav a {
	float: right;
	font-size: 24px;
	text-align: center;
	padding: 2.5% 2.5%;
	text-decoration: none;
	transition-duration: 0.25s;
}

.topnav a:hover {
	text-decoration: underline solid #8F9BA6;
}

.topnav .logo {
	float: left;
}
