<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
        <title>LegiTalk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="../img/Legichat.png"/>
    
        <!-- External CSS -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/homepage.css">
	</head>

	<body>
		<nav class="topnav">
			<a href="/" class="logo" style="height:80px;"><img src="../img/Legichat.png"></a>
			<a href="/login">{{username}}</a>
			<a href="/forum" >Forum</a>
		</nav>

		<form id="postBoard" name="postBoard" class="centerCard">
			<h4 id="legislatorText">Your legislator is {{legislatorName}}</h4>
			<br>
			<div class="formItem">
				<label for="subject">Subject</label>
				<input type="text" id="subject" name="subject" placeholder="Subject line here"/>
			</div>
			<br>
			<br>
			<div class="formItem">
				<label for="body">Your Message</label>
				<input type="text" id="body" name="body" placeholder="Enter your message to your local legislator here"/>
			</div>
			<br>
			<br>
			<input type="button" title="Submit" value="Submit"/>
		</form>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript">
    // 		$("#userReg").submit(function(e){
    //             e.preventDefault();
    //             validateForm();
    //         });
			function validateForm() {
			    console.log("VAL");
				var userSubject = document.getElementById("subject").value.trim();
				var userBody = document.getElementById("body").value.trim();

				// check if all fields are either blank	
				if (userSubject.length == 0 || userBody.length == 0) {
					alert("Please fill out all required fields");  // this is a TEMPORARY solution, make it better
				}
				// put more validations here...

				doAjax();
			}

			function doAjax() {
				 $.get({
                    url: "getLegislators",
                    data: $("#postBoard").serialize(),
                    success: function(data) {
                        console.log("ondata");
                        document.getElementById("legislatorText").innerHTML = data.message;
                    },
					failure: function(data) {
						console.log(data);
					}
                });
			}
		</script>
	</body>
</html>