<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
        <title>LegiTalk | Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="../img/Legichat.png"/>
    
        <!-- External CSS -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/nav_bar.css">
	</head>

	<body>
		<h1>
			Login:
		</h1>
		<form id="login" name="login">
			<label for="signin">Email or Username:</label>
			<br>
			<input id="signin" type="text" name="signin"/>
			<br>
			<br>
			<label for="password">Password:</label>
			<br>
			<input id="password" type="password" name="password"/>
			<br>
			<br>
			<button onclick="doAjax()">Register</div>
		</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	</body>
</html>