<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
        <title>LegiTalk | Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="../img/Legichat.png"/>
    
        <!-- External CSS -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/nav_bar.css">
	</head>

	<body>
		<h3 id="error"></h3>
		<h1>
			Login:
		</h1>
		<form id="login" name="login">
			<label for="username">Email or Username:</label>
			<br>
			<input id="username" type="text" name="username"/>
			<br>
			<br>
			<label for="password">Password:</label>
			<br>
			<input id="password" type="password" name="password"/>
			<br>
			<br>
			<input type="button" onclick="doAjax()" value="Sign-in" />
		</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript">
		function validateForm() {
		    console.log("VAL");
			var userName = document.getElementById("username").value.trim();
            var userPassword = document.getElementById("password").value.trim();

			// check if all fields are either blank	
			if (userName.length == 0 || userName.length == 0) {
				alert("Please fill out all required fields");  // this is a TEMPORARY solution, make it better
			}
			// put more validations here...

			doAjax();
		}

		function doAjax() {
			$.get({
                url: "login_endpoint",
                data: $("#login").serialize(),
                success: function(data) {
                    console.log("ondata");
                    if(data == "Incorrect email." || data == "Incorrect password.") {
                    	document.getElementById("error").innerHTML = data;
                    }
                    else {
						window.location = "https://legichat.sites.tjhsst.edu/";
					}
					//window.location to access a different part of the site
                },
				failure: function(data) {
					console.log(data);
					document.getElementById("error").innerHTML = "Incorrect email or password";
				}
            });
		}
	</script>
	</body>
</html>