<!DOCTYPE HTML>
<html>
	<head>
		<title>LegiChat | Register a new account</title>
		<link rel = "stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div class="buttonDiv" id="isLegi">
			I am a legislator
		</div>
		<div class="buttonDiv" id="notLegi">
			I am a civilian
		</div>
	</body>
</html>