<!DOCTYPE HTML>
<html>
	<head>
		<title>LegiTalk | Register</title>
		<link rel = "stylesheet" type="text/css" href="css/main.css">
		<link rel="shortcut icon" type="image/png" href="../img/Legichat.png"/>
	</head>
	<body>
		<h2>Register an account</h2>
		
		<form id="userReg" name="userReg">
			<label for="email">E-mail:</label>
			<br>
			<input id="email" type="text" name="email"/>
			<br>
			<br>
			<label for="username">Username:</label>
			<br>
			<input id="username" type="text" name="username"/>
			<br>
			<br>
			<label for="password">Password:</label>
			<br>
			<input id="password" type="password" name="password"/>
			<br>
			<br>
			<label for="zip">Zip Code:</label>
			<br>
			<input id="zip" type="text" name="zip"/>
			<br>
			<br>
			<input type="button" value="Register" onclick="validateForm()"/>
		</form>
		<h3 id="updateText"></h3>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript">
    // 		$("#userReg").submit(function(e){
    //             e.preventDefault();
    //             validateForm();
    //         });
			function validateForm() {
			    console.log("VAL");
				var userEmail = document.getElementById("email").value.trim();
				var userName = document.getElementById("username").value.trim();
                var userPassword = document.getElementById("password").value.trim();
                var userZip = document.getElementById("zip").value.trim();

				// check if all fields are either blank	
				if (userEmail.length == 0 || userName.length == 0 || userName.length == 0 || userZip.length == 0) {
					alert("Please fill out all required fields");  // this is a TEMPORARY solution, make it better
				}
				// put more validations here...

				doAjax();
			}

			function doAjax() {
				 $.get({
                    url: "makeuser",
                    data: $("#userReg").serialize(),
                    success: function(data) {
                        console.log("ondata");
                        document.getElementById("updateText").innerHTML = data.msg;
						window.location = "https://legichat.sites.tjhsst.edu/login";
						//window.location to access a different part of the site
                    },
					failure: function(data) {
						console.log(data);
					}
                });
			}
		</script>
	</body>
</html>