<!DOCTYPE HTML>
<html>
	<head>
		<title>LegiChat | Register a new account</title>
		<link rel = "stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<form id="userReg" name="userReg">
			<label for="email">E-mail:</label>
			<br>
			<input type="text" name="email"/>
			<br>
			<br>
			<label for="username">Username:</label>
			<br>
			<input type="text" name="username"/>
			<br>
			<br>
			<label for="password">Password:</label>
			<br>
			<input type="password" name="password"/>
			<br>
			<br>
			<label for="zip">Zip Code:</label>
			<br>
			<input type="text" name="zip"/>
			<br>
			<br>
			<button onclick="doAjax()">Register</div>
		</form>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript">
			function doAjax() {
				 $.get({
                    url: "makeuser",
                    data: $("#userReg").serialize(),
                    success: function(data) {
                        console.log(data)
                    }
                });
			}
		</script>
	</body>
</html>